body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #e1a38a; 
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    color: #fff; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }